
body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(214, 211, 211);
}

.button_mqtt{
    width: 20vw;
    margin-right: 1.2em;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1vw;
}
.pai{

    display: inline-block;
    
}

.menu{
    
    display: flex;
    position: relative;
    z-index: 1;
}


img{
    display: block;
    margin-top: 3vh;
    margin-left: 40vw;
    margin-right: -2vw;
    position: relative;
    resize: both;
}
.bt_atualiza{
    position: relative;
    width: 15vw;
    height: 5vh;
    font-size: 2vh;
    margin-left: 10vw;
    margin-right: 5vw;
    resize: both;
}

.atualiza{
    width: 100%;
    display: inline-block;
    position: relative;
    margin-top: 1em;
    z-index: 8;
    
    

}

.atualiza :hover{
    transition-duration:  1s;
}
.div_button{
    width: 2vw;
    height: 100%;
    margin-top: 0.2em;
    display: block;
    margin-left:20vw;
    
    
}
.graficos{
    border: 2em;
    width: 80vw;
    height: 100%;
    display: table;
    position: relative;
    margin-left: 0vw;
    margin-right: 0vw;
    font-size: 1.2vw;
    background-color: rgb(202, 143, 65);
    
    z-index: 3;
   
}

.graficos onCha{
    width: 10vw;
}

.gauge{

    margin-top: 4vh;
}

.graficos h{
    margin-left: 15vw;
    font-size: 3vh;
    font-weight: bold;
}
/* 
.graficos:hover {
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
  } */

.button_form_div{
    width: 20vh;
    position: relative;
    margin-left: 0em;
    margin-top: 1em;
}



img{
    width: 30vw;
    height: 20vh;
}



.mystyle{
    display: none;
    transition: border-color 1s linear 0.1s;
}

.mystyle:hover{
    transition: border-color 1s linear 0.1s;
    transition-duration: 2s;
}

.div_button button{
    width: 5em;
    display: block;
    margin: 0.3em;
    
}

.red {
    color: red;
}

.button_L_L1 {
    color: rgb(61, 142, 235);
}

.blue{
    color: rgb(61, 142, 235);
}

.blue1{
    color: rgb(61, 142, 235);
}

.cinza{
    color: #808080;
}

.ambar{
    color: #a6aa3e;
}


